@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body{
    font-family:poppins,sans-serif;
}
span {
  color: #1717a1;
}
.m{
    margin-bottom: 1em !important;
 }

body{
    background-color: rgb(240, 241, 241);
}
.mt{
    margin-top: 3em;
}
#lang{
    background-color: #EBEBFF;
}
.w-25{
    max-width: 1.5em;
}
.w-50{
    max-width: 10em;
}
.mt-2{
   margin-top: 15em !important;
}
.container-fluid{
    max-width: 90%;
}
.w-65{
    width: 65%;
}
.ml{
    margin-left: 10em;
}
.dark-blue{
    color: #344563;
}
.light-blue{
    color: #7F8CFF;
}
h1{
    color:  #091E42;
}
.job-color{
    color: #091E42;
}
.mr{
    margin-right: 1em;
}
.mw{
    min-width: 80%;
}
.img-s{
    width: 45%;
    height: auto;
}