span {
  color: #1717a1;
}
.m{
    margin-bottom: 1em !important;
    }

body{
    background-color: rgb(240, 241, 241);
}
.mt-5{
    margin-left: ($spacer * .25) !important;
}
#lang{
    background-color: #EBEBFF;
}
.w-25{
    max-width: 1.5em;
}
.w-50{
    max-width: 10em;
}
.mt-2{
   margin-top: 15em !important;
}
.container-fluid{
    max-width: 90%;
}
.w-65{
    width: 65%;
}
.ml{
    margin-left: 10em;
}